In [1]:
import pandas as pd

train = pd.read_csv('tp_bike/train.csv')

In [2]:
import seaborn as sbs
import numpy as np

In [3]:
trip = pd.read_csv('tp_bike/trip.csv')

In [4]:
test = pd.read_csv('tp_bike/test.csv')

In [5]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,Subscriber,94602,2015-08-27,8:36,Thursday,8
1,384043,636,7/28/2014 22:06,Market at 10th,67,417,Subscriber,94133,2014-07-28,22:06,Monday,22
2,316176,334,6/9/2014 8:42,Market at Sansome,77,281,Subscriber,94107,2014-06-09,8:42,Monday,8

In [6]:
train['subscription_type'] = train.subscription_type.map({'Subscriber':1, 'Customer':0})

In [7]:
train['weekday'] = train.weekday.map({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7})

In [8]:
del train['start_date']

In [9]:
train.dtypes

id                     int64
duration               int64
start_station_name    object
start_station_id       int64
bike_id                int64
subscription_type      int64
zip_code              object
date_start            object
time_start            object
weekday                int64
hour_start             int64
dtype: object

In [10]:
#duration_train = train['duration']
#del train['duration']

In [11]:
test.head(3)

,id,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,426,Customer,77009,2014-10-18,11:25,Saturday,11
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,454,Subscriber,94132,2014-11-05,13:00,Wednesday,13
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,370,Subscriber,94107,2015-06-18,17:34,Thursday,17

In [12]:
len(train)

549961

In [13]:
test['weekday'] = test.weekday.map({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7})
test['subscription_type'] = test.subscription_type.map({'Subscriber':1, 'Customer':0})

In [14]:
import calendar
train['date_start'] = pd.to_datetime(train['date_start'])
test['date_start'] = pd.to_datetime(test['date_start'])

In [15]:
train['month_start'] = train['date_start'].map(lambda x: x.month)
test['month_start'] = test['date_start'].map(lambda x: x.month)

In [16]:
train.head(3)

,id,duration,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start
0,907649,396,Harry Bridges Plaza (Ferry Building),50,187,1,94602,2015-08-27,8:36,4,8,8
1,384043,636,Market at 10th,67,417,1,94133,2014-07-28,22:06,1,22,7
2,316176,334,Market at Sansome,77,281,1,94107,2014-06-09,8:42,1,8,6

In [17]:
del test['start_date']

In [18]:
#cambio zip code a numerico
train.zip_code = train.zip_code.str.replace('nil','')
train.zip_code = pd.to_numeric(train.zip_code,errors='coerce')
test.zip_code = test.zip_code.str.replace('nil','')
test.zip_code = pd.to_numeric(test.zip_code,errors='coerce')

In [19]:
cols = ['id', 'start_station_id', 'bike_id', 'subscription_type', 'month_start', 'weekday', 'hour_start']
features = train[cols]
duration = train.duration

In [20]:
test1 = test[cols]

In [21]:
features.head(3)

,id,start_station_id,bike_id,subscription_type,month_start,weekday,hour_start
0,907649,50,187,1,8,4,8
1,384043,67,417,1,7,1,22
2,316176,77,281,1,6,1,8

In [22]:
features.dtypes

id                   int64
start_station_id     int64
bike_id              int64
subscription_type    int64
month_start          int64
weekday              int64
hour_start           int64
dtype: object

In [23]:
len(features)

549961

In [24]:
len(duration)

549961

In [25]:
#modelo predictivo
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import train_test_split
#
x_train, x_test, y_train, y_test = train_test_split(features, duration, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train) #entreno el algoritmo

#prediccion

pred = reg.predict(x_test)

score = mean_squared_error(pred,y_test)
score

#calculo el error de mi prediccion

#error = (pred - y_test) ** 2

#otra forma mejor
# error = no.sqrt(metrics.mean_squared_error(pred, y_test))

#para que servia reg.score(x_test, y_test)

948149745.27316415

In [26]:
prediccion1 = reg.predict(test1)

In [27]:
prediccion1

array([ 4004.67312806,   636.43500463,   543.02531725, ...,   610.74838208,
        1219.7701954 ,   350.17201478])

In [41]:
len(prediccion1)

119998

In [42]:
len(test)

119998

In [43]:
ids = test.id

In [46]:
test.head(3)

,id,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start
0,504737,Embarcadero at Sansome,60,426,0,77009.0,2014-10-18,11:25,6,11,10
1,530846,Embarcadero at Folsom,51,454,1,94132.0,2014-11-05,13:00,3,13,11
2,813140,San Francisco Caltrain (Townsend at 4th),70,370,1,94107.0,2015-06-18,17:34,4,17,6

In [44]:
submit = zip(ids,prediccion1)

In [45]:
submit

[(504737, 4004.6731280613076),
 (530846, 636.43500463274268),
 (813140, 543.02531724955224),
 (897674, 669.81271076452731),
 (322830, 633.3342582283376),
 (487841, 374.04335790968753),
 (677808, 452.76416267985587),
 (704449, 525.10306222629424),
 (833587, 828.34085787912227),
 (420411, 777.81705085396698),
 (354777, 493.21597109761888),
 (17809, 378.48999997544797),
 (854667, 383.70360112750677),
 (673325, 530.61293191690265),
 (729900, 3928.7930145108503),
 (4485, 3907.432941788747),
 (349394, 738.92406274269433),
 (784460, 747.68168388463073),
 (908431, 688.90336555700515),
 (805578, 586.35538241283894),
 (609571, 318.75800457981586),
 (269385, 4010.3360887867875),
 (227320, 485.9922051376634),
 (658277, 684.68638079293123),
 (205479, 514.43534365885171),
 (429936, 467.44730805920562),
 (176953, 3580.2939865317653),
 (64226, 477.85113689254877),
 (489619, 337.51805937826794),
 (831189, 752.56844355894464),
 (533175, 534.1990449277996),
 (898843, 712.89477946123498),
 (292260, 199.40612290011268),
 (858258, 621.93034445671219),
 (128923, 235.6721635727904),
 (724780, 397.64077024611424),
 (94184, 566.18027809857995),
 (564298, 567.94167676315737),
 (29283, 672.64556269653167),
 (559224, 511.64889148067641),
 (299680, 508.67526463381409),
 (706717, 392.29467266464599),
 (760823, 617.55315523464697),
 (444493, 525.21468811320528),
 (874832, 522.4476096335834),
 (511311, 636.57250899816017),
 (367694, 599.67951709814952),
 (903539, 711.40349575937807),
 (795571, 1268.2973003793109),
 (62620, 618.26604730823374),
 (153266, 341.78624069400394),
 (476078, 3710.4584680031094),
 (83785, 390.60682054532163),
 (795773, 4207.9614591750378),
 (229064, 384.85622497060785),
 (462202, 635.11299133534385),
 (467883, 655.50057869728835),
 (268903, 916.9121946292903),
 (838552, 648.79539448476635),
 (113744, 410.20093406736078),
 (245412, 976.74150842905328),
 (710194, 504.81397801863704),
 (911776, 619.84501946115915),
 (602097, 611.55673563321716),
 (453307, 3601.5481385649082),
 (126873, 361.66622868668037),
 (458752, 702.26133749921974),
 (430039, 684.17383801459482),
 (637990, 421.07754636985192),
 (114785, 644.9849215215736),
 (546333, 4017.1506427081786),
 (170654, 294.69841342661903),
 (649261, 3662.0331287671434),
 (894848, 560.1547433319156),
 (644131, 4093.3701255075844),
 (159045, 4035.9717623398406),
 (148945, 585.50751594457779),
 (465738, 371.36596091780302),
 (83913, 448.50302667384585),
 (810684, 684.44543571652002),
 (313327, 757.37733456529213),
 (587439, 482.32587454207305),
 (327880, 4089.4090578923756),
 (409751, 1026.7681723885985),
 (94613, 880.88490988355625),
 (160013, 577.76606128430603),
 (357751, 589.92429856557237),
 (461410, 699.97390710128821),
 (318421, 377.29627108355362),
 (430829, 3967.1247706394292),
 (564655, 420.88958156007311),
 (43559, 479.87664789818336),
 (439972, 522.15861953672538),
 (599103, 820.98237774673953),
 (910862, 4163.0778888981595),
 (409652, 997.76378813828705),
 (37486, 3907.5362861031035),
 (733998, 664.01471107660336),
 (798711, 297.69803257678223),
 (102609, 4196.4118116884447),
 (584416, 504.53602643110571),
 (694675, 603.37841863378981),
 (115135, 3718.7780316032072),
 (861001, 4032.5027178807341),
 (547278, 448.2339737919965),
 (492786, 808.53688422597588),
 (241722, 446.42865967913121),
 (610854, 402.92802533476515),
 (420166, 4203.3304542983178),
 (315388, 803.68858124841927),
 (511543, 677.85368851567682),
 (798327, 363.21121224140506),
 (415924, 382.49019028376097),
 (93317, 679.89768921293262),
 (458635, 745.90122048276953),
 (767531, 481.79242736189144),
 (765573, 450.95750497231256),
 (891406, 855.73992118505748),
 (109821, 453.79935060078515),
 (759438, 641.51097283825948),
 (640205, 445.57257239058845),
 (637319, 530.01708610083188),
 (40384, 3563.4219384074113),
 (513776, 618.61651055763332),
 (494002, 4056.288734152673),
 (687882, 600.72343644008288),
 (909869, 907.23619814231961),
 (58798, 3812.6666312089169),
 (320844, 3766.1652062320313),
 (324010, 426.07317147029335),
 (898120, 832.7335548431206),
 (316918, 315.70292494884052),
 (710180, 3901.3382472521589),
 (573877, 407.31122468141484),
 (260460, 483.63111945305263),
 (163573, 556.99841406614769),
 (379823, 1132.2620319044763),
 (108550, 389.87995517834497),
 (764573, 627.67979042633215),
 (451423, 1198.4706162951475),
 (166840, 445.11639154688646),
 (857153, 743.79530058935416),
 (273096, 986.29919958983646),
 (47321, 3700.6095755825054),
 (658667, 444.36875268369431),
 (257378, 579.572602817801),
 (547022, 551.1982917976261),
 (150767, 554.01291518124299),
 (115205, 430.22555506348226),
 (842449, 4120.0528877813995),
 (622096, 622.50343653511572),
 (51997, 389.12316825807693),
 (474400, 293.42023053332332),
 (629110, 623.96701494553963),
 (234048, 417.58408931408121),
 (26447, 560.15617647358158),
 (342765, 555.94581367506999),
 (616868, 827.78372324607471),
 (317926, 492.96136482935754),
 (93076, 3682.5035708289602),
 (75858, 3675.1754540257689),
 (599935, 496.29746216207741),
 (176310, 652.90277543821094),
 (871075, 709.2468310736067),
 (418182, 599.50899136101589),
 (557090, 336.30694522178828),
 (285656, 3710.3333090813085),
 (724407, 544.03883409577884),
 (737161, 516.57578164008874),
 (486575, 492.37216853829341),
 (579966, 1001.6145280047931),
 (625267, 687.77266986421864),
 (424150, 640.82661641982941),
 (779700, 4049.1526931491244),
 (322829, 721.97287207045156),
 (340548, 504.52277293733005),
 (341385, 515.11340093274885),
 (671659, 464.58689384704803),
 (231885, 368.10871149441982),
 (447786, 715.98764686838604),
 (796203, 668.91734361960607),
 (237421, 3966.8424548276353),
 (524042, 711.21367912741198),
 (755457, 559.58511258422914),
 (836290, 3873.6546382407619),
 (76707, 680.72180770687692),
 (782429, 563.64015425130083),
 (628170, 562.1731958081009),
 (162044, 872.13109482008622),
 (590780, 430.40611801989917),
 (805696, 735.56718703434672),
 (651425, 837.07005589626942),
 (645378, 505.4953345274962),
 (889755, 763.79238432979309),
 (709225, 582.85412072063855),
 (576352, 417.41570998168845),
 (678502, 754.02370325140828),
 (139263, 473.39337538113614),
 (746506, 521.89969024477296),
 (130091, 381.51592273115011),
 (895359, 988.0843503242445),
 (585921, 554.14342985637904),
 (58423, 1001.9262547240737),
 (556293, 482.38847086911801),
 (588947, 4046.5547953533983),
 (549234, 464.92117018586259),
 (431792, 4131.0550642427161),
 (627716, 830.54718801151694),
 (333229, 3871.7113102500384),
 (553188, 731.7560078638594),
 (226101, 482.22697621661928),
 (909936, 622.10168458377393),
 (314684, 3938.8536406440039),
 (326932, 306.94157287715188),
 (608514, 797.05202590922499),
 (104961, 737.90766785953883),
 (548617, 368.32612632772361),
 (206739, 491.88325412153335),
 (328991, 520.62273283808418),
 (182765, 595.82359151109085),
 (796031, 842.85447363124968),
 (810310, 603.38087905627299),
 (481215, 745.72888640232304),
 (271775, 400.73647696151102),
 (474491, 292.62930742359003),
 (130209, 422.48597029759094),
 (468098, 624.84466805520924),
 (23237, 3509.8687701775525),
 (835685, 718.87474056671817),
 (366854, 365.20346449852877),
 (313084, 669.34931871500521),
 (871224, 652.15571020699053),
 (442616, 319.09406670622502),
 (49195, 211.30688024107758),
 (740742, 3952.248020744008),
 (303817, 615.87994844283912),
 (69276, 613.09808953420406),
 (365458, 293.28917809140466),
 (648831, 608.31653939059652),
 (301633, 490.94970541071461),
 (380283, 3889.363269541434),
 (258945, 3612.4043072321128),
 (150387, 4043.664398029011),
 (563787, 284.29443169144724),
 (313632, 611.57729978344287),
 (738411, 698.97696175694728),
 (884068, 578.97835327872053),
 (908939, 873.82703166563215),
 (499235, 538.96708397161956),
 (154207, 519.41443512454543),
 (70471, 1098.597135406183),
 (788833, 474.23288667396127),
 (364881, 700.02017684178054),
 (453523, 344.43738160686416),
 (538266, 322.87444343696052),
 (520959, 599.46126882207136),
 (6955, 4139.7103329152478),
 (795697, 670.99451363307571),
 (519565, 338.55005263429439),
 (45329, 604.72553131311861),
 (532851, 634.61084695533555),
 (526102, 1039.9631601820943),
 (302235, 3886.4032288934031),
 (80331, 3659.3835100785318),
 (170295, 510.13409835715402),
 (505235, 4011.1903379096316),
 (852267, 4298.7355090402953),
 (821859, 670.59888876717605),
 (183191, 531.07319739353352),
 (147427, 565.24675184122316),
 (585808, 3844.9827780692558),
 (678865, 705.9175876377908),
 (426308, 607.67008886307303),
 (11583, 619.12686541309222),
 (627596, 433.76701111377452),
 (804151, 880.52175813807025),
 (276348, 723.33523881735891),
 (903628, 723.80999647961471),
 (565430, 603.98176090571633),
 (424914, 517.75272335164755),
 (628409, 378.89311080052948),
 (517209, 399.3127003762238),
 (479025, 371.27248455367817),
 (871411, 1096.236301978834),
 (268279, 478.60076161697134),
 (910853, 1042.9654944140948),
 (22836, 4201.5409603681546),
 (454002, 484.12336090565668),
 (464645, 310.36146774806912),
 (636154, 386.78424999656454),
 (52432, 728.90928922033208),
 (630496, 378.66657042513907),
 (891879, 4204.8918060589303),
 (214213, 488.73586738364884),
 (139664, 3846.9135686748959),
 (310551, 3875.4122515381637),
 (102308, 448.68855357697021),
 (862893, 486.38278252135524),
 (602408, 665.55463722638478),
 (257049, 818.57018845210905),
 (720705, 760.52044359942238),
 (555918, 3657.0544891311192),
 (713727, 592.85029599130985),
 (688704, 679.54772811929161),
 (693444, 359.48988086395957),
 (93918, 363.16825735190969),
 (120508, 357.29700943770649),
 (415786, 488.46882268060244),
 (685850, 3879.6071149127511),
 (491989, 769.04969258597248),
 (595115, 990.9461811402457),
 (438696, 506.37940258791014),
 (891584, 1157.0415389509608),
 (92789, 434.5201581213787),
 (466919, 661.36978612912571),
 (293616, 389.93374573791561),
 (285838, 451.12245204385817),
 (743654, 423.21890785947699),
 (452660, 436.39493032109567),
 (442260, 449.7224778902023),
 (265478, 323.67355760447344),
 (514443, 3876.6016210850407),
 (209675, 394.13653873942394),
 (795167, 903.61140712805854),
 (428107, 357.84965291280469),
 (18624, 534.52972726064399),
 (468627, 3562.3164117057531),
 (160324, 486.07413149826743),
 (271184, 3982.2918978278985),
 (344904, 3608.4639195389691),
 (690328, 733.21904226156221),
 (359603, 4028.250895001976),
 (786802, 615.55798147439691),
 (13418, 4022.1099072186166),
 (32785, 427.8098107277533),
 (614092, 576.65586896929926),
 (49849, 374.87015411882476),
 (244679, 755.95486378438),
 (287466, 686.83926288870862),
 (598710, 926.43607089800298),
 (730066, 3862.8531223073605),
 (393537, 279.68409791005024),
 (321557, 557.68002708441645),
 (727579, 666.26834942272126),
 (625348, 592.80717935342909),
 (83631, 3696.1332418069342),
 (433178, 3617.4462023380256),
 (636498, 302.36681931575504),
 (344616, 565.90309430821435),
 (611120, 488.8422780986316),
 (865989, 492.83076872061201),
 (659365, 1154.5663079308538),
 (324909, 3976.4598792140714),
 (510211, 466.86070172616473),
 (624277, 3825.2410293810099),
 (229591, 804.23308591854857),
 (899149, 487.35801195260592),
 (811429, 721.13740409022057),
 (681593, 681.41720511380754),
 (892122, 1017.9808192191763),
 (63836, 502.53831372400919),
 (45430, 559.99795186549136),
 (157435, 438.90826319587723),
 (333216, 549.91208398481422),
 (447677, 837.83988138841232),
 (262261, 792.65682794579197),
 (546167, 609.70665806955685),
 (847825, 640.45382726114849),
 (315111, 3887.4548401765674),
 (852966, 3873.0877200354998),
 (184835, 3770.2639419865632),
 (140319, 608.38722558070322),
 (567322, 712.31265557164761),
 (642583, 688.42004518076692),
 (269864, 721.87704974208509),
 (489842, 358.48088752705507),
 (352922, 641.959442523505),
 (761072, 465.56677517866092),
 (432233, 495.82099402760014),
 (644324, 1139.015345700851),
 (162016, 509.51528938159527),
 (846848, 503.38739077267883),
 (803671, 668.06680096673472),
 (63195, 685.55002270708337),
 (53084, 3820.2698362216806),
 (48058, 3928.0498160957977),
 (36240, 436.18761443835137),
 (395642, 207.27507896429188),
 (418766, 632.98446082304099),
 (412315, 3800.8907732402695),
 (894555, 670.67967897725794),
 (23829, 257.81124884905148),
 (310976, 3995.6294733888426),
 (203332, 571.93561144394016),
 (530751, 653.15025125512329),
 (547590, 398.07182682550183),
 (390642, 648.69260083624476),
 (687738, 492.76293096158452),
 (26386, 298.96536617161837),
 (110204, 788.42531791352076),
 (654734, 473.43147089620925),
 (586231, 4089.4312568726004),
 (169533, 659.83269049783439),
 (837388, 894.52311460333931),
 (520638, 493.41296548612127),
 (468132, 663.60238120724807),
 (281166, 309.53055771059371),
 (762931, 4088.9070772680548),
 (812827, 664.15059490020985),
 (647823, 1193.3918153273007),
 (574654, 522.05490317858812),
 (610861, 414.26834390961585),
 (85315, 617.232031438587),
 (238143, 4036.7341621905175),
 (585991, 4017.3064560066891),
 (729737, 1135.552926794081),
 (492421, 4009.196860542067),
 (334789, 395.8932635395804),
 (551508, 3684.3986988185616),
 (390814, 994.75289803306669),
 (188310, 366.33926290845511),
 (507386, 242.52303792359908),
 (724698, 543.03110442589968),
 (540263, 316.94233675236865),
 (342416, 563.03201857814474),
 (724209, 563.04499243320015),
 (245945, 801.51379616389113),
 (247102, 408.04719878291689),
 (310797, 683.23395346865709),
 (225133, 346.78699935424675),
 (818071, 706.93790696155156),
 (25281, 225.28468273733233),
 (17425, 452.13183707321059),
 (268922, 714.39256477052777),
 (762331, 493.48993784081586),
 (828425, 3809.1051923991604),
 (522235, 1023.6556204256731),
 (439162, 3795.8803107206763),
 (398853, 578.0097890916968),
 (892838, 3707.0517975935231),
 (818074, 599.66582573056985),
 (674805, 468.36129729469894),
 (881480, 4165.1129731639057),
 (85845, 461.57381767597826),
 (816408, 468.49988095350682),
 (380370, 621.30530706083755),
 (842064, 679.25148232064794),
 (348524, 3875.8094347808365),
 (517590, 437.98979676835552),
 (328684, 3837.8559283073428),
 (598040, 732.34552396665958),
 (546871, 650.43320877203814),
 (198277, 814.80615541442148),
 (900937, 866.7518914300872),
 (835944, 1104.4192515868035),
 (678098, 384.02677956313119),
 (461433, 589.1674842798293),
 (639259, 576.46897525754639),
 (28515, 3843.4086575730225),
 (343633, 1088.2107868467283),
 (404659, 464.60600951299966),
 (358545, 3805.2879338833573),
 (485223, 417.01755866528856),
 (894677, 548.50338484187705),
 (568101, 4085.8248469101482),
 (71716, 555.34250222994433),
 (541066, 663.98255624699095),
 (719681, 894.72262600299064),
 (388086, 758.88091719437352),
 (112986, 216.97929483653661),
 (308857, 515.32566009843049),
 (216828, 313.1483830897746),
 (910916, 4000.8030404295982),
 (653832, 430.09160587680663),
 (637397, 480.4304885524366),
 (254317, 3853.4028312791838),
 (272108, 360.3065744006708),
 (118376, 595.06547756428972),
 (432061, 4118.7513662541687),
 (664249, 291.47407582178812),
 (754271, 510.96863121353044),
 (46909, 3858.7292777480657),
 (700283, 654.30668633837104),
 (540551, 606.99557802100162),
 (765394, 676.54265864064428),
 (725747, 543.79936280177026),
 (221588, 518.35396368958163),
 (166115, 3899.2698773013162),
 (496484, 370.23282225445291),
 (147399, 702.72959307571182),
 (232552, 686.07684153420814),
 (73600, 1162.7630479951395),
 (272625, 275.2081249128496),
 (857476, 1040.7085870989367),
 (517344, 537.10644076107428),
 (198576, 556.33576464013368),
 (804632, 1027.9332245452506),
 (646306, 618.09986559787831),
 (290876, 595.06692625377627),
 (632621, 760.32295414302234),
 (259005, 382.33621235087685),
 (31133, 868.84569040644146),
 (503171, 716.91962055226486),
 (38513, 3987.5264004109385),
 (371325, 3662.8893823130052),
 (343245, 4070.4173644290381),
 (292033, 311.3750615584886),
 (753404, 545.15292050188009),
 (841644, 749.28294666695274),
 (33541, 498.55955802267772),
 (225855, 3911.3336690333394),
 (598119, 735.57474622357495),
 (536876, 564.44074060763251),
 (806941, 478.99186276122373),
 (437735, 610.41322181434816),
 (820799, 506.13768389798224),
 (359065, 434.63300257232595),
 (24851, 523.14927469664417),
 (283315, 568.09446227372018),
 (42170, 3995.2610692022677),
 (244648, 763.63123184282176),
 (601657, 507.95706295651053),
 (275710, 415.49512804159986),
 (320996, 840.78628117528524),
 (447370, 910.7656014392187),
 (798461, 329.71528488323247),
 (206828, 1264.4277246032916),
 (840368, 768.05919420874216),
 (750483, 904.3893570418777),
 (377827, 1172.8033358502889),
 (806078, 1073.0008290567598),
 (893876, 316.2641370367046),
 (97998, 428.96177996088227),
 (26303, 320.88051628259063),
 (762283, 302.44483929030275),
 (786577, 575.08181579009533),
 (220790, 3838.4992035279356),
 (277543, 682.90930175769608),
 (692134, 986.83957183807388),
 (90446, 3712.6622091528939),
 (179590, 545.6059958190549),
 (42912, 519.32062878576835),
 (828439, 3871.3801287096958),
 (23474, 243.38778375091624),
 (835826, 552.55979506674521),
 (243290, 592.77576312167184),
 (768616, 4410.8272405637445),
 (758757, 1087.0421645595884),
 (411549, 683.88792122486939),
 (821140, 521.96367756678092),
 (804403, 659.53154634148268),
 (509832, 561.30699270881632),
 (224307, 758.85955999029829),
 (549362, 937.41721637876526),
 (284145, 609.27073532619852),
 (343404, 3917.675305112733),
 (274183, 590.08941998709906),
 (392266, 3801.9609516248947),
 (824610, 3768.5941520758843),
 (629829, 535.6172885225601),
 (910094, 767.73847819764705),
 (253112, 630.45562293283865),
 (106930, 374.13590709631853),
 (34516, 3798.6333426111169),
 (403293, 253.00747015009438),
 (670599, 795.55318310497614),
 (485465, 562.18833337374099),
 (646481, 543.13137586026642),
 (456769, 538.22569461790363),
 (870952, 686.22496099972614),
 (137051, 4000.9224631264506),
 (149214, 618.84800471751259),
 (229101, 4234.9813416366878),
 (818242, 520.80309093781443),
 (460132, 366.52047292749239),
 (277651, 687.34949498743072),
 (30158, 4103.7392230623545),
 (726753, 660.62866713380708),
 (349780, 3915.2820945418998),
 (678848, 677.96957401125474),
 (230937, 1192.8499743483303),
 (208487, 3479.1930249728493),
 (607093, 675.62795696185913),
 (739709, 619.27432666311779),
 (380767, 432.65876837699852),
 (763353, 503.74782327037155),
 (101418, 3670.5159903324934),
 (18582, 584.36546455675125),
 (394680, 3602.4818840335829),
 (145875, 692.68342923771388),
 (913135, 419.30307450569899),
 (718556, 670.15702877754165),
 (883536, 423.30257737455804),
 (317774, 576.24480375158737),
 (478336, 511.38688199133412),
 (402888, 392.77523295736137),
 (109967, 585.88718559899326),
 (425128, 382.86892583053486),
 (777646, 743.39357547866894),
 (134308, 466.18894172985028),
 (696683, 724.83983788766),
 (835172, 236.99935675223787),
 (189527, 410.39734184643839),
 (284893, 1022.3944552222715),
 (343654, 3788.8449838735637),
 (896303, 3847.741855434444),
 (689138, 796.72463044202323),
 (42296, 224.9253924097743),
 (383410, 308.06274565644435),
 (310731, 348.19577804066739),
 (648819, 628.67126614933932),
 (465002, 527.7843535101938),
 (283792, 524.99905048036317),
 (682676, 4074.8376967483518),
 (197289, 595.52025841632303),
 (243616, 631.22471975441567),
 (585212, 720.85821049432525),
 (88071, 654.59617986816784),
 (870241, 872.60459369151158),
 (175374, 394.55221601176754),
 (338978, 513.66464393724709),
 (519273, 471.69961193982272),
 (81589, 934.3550931354448),
 (377139, 629.35910245973673),
 (591654, 378.09058283768127),
 (794375, 790.4098098683944),
 (266631, 3814.0813987583597),
 (694568, 551.03978146213876),
 (685013, 590.29210804809009),
 (878748, 760.07515692190373),
 (588671, 678.72914243593095),
 (780931, 818.195799562307),
 (248918, 613.70417759319571),
 (824658, 534.69212636886323),
 (849888, 581.64718368391732),
 (779942, 500.28228547332992),
 (793027, 528.97304216502062),
 (676064, 298.33177552542338),
 (852300, 4066.4287285314413),
 (95717, 531.1757619736959),
 (309662, 466.84978957485464),
 (68023, 473.60329042894045),
 (332461, 701.9783857954244),
 (510816, 491.09510810378742),
 (500604, 346.42633348386516),
 (674351, 455.87647694194084),
 (100978, 540.30378348320164),
 (698342, 616.72573273492844),
 (484760, 507.13252663820413),

In [50]:
type(submit)

list

In [55]:
submit1 = pd.DataFrame(submit)

In [60]:
submit1.head(3)
submit1 = submit1.rename( columns = { 0: 'id', 1: 'duration'})

In [61]:
submit1.head(3)

       id     duration
0  504737  4004.673128
1  530846   636.435005
2  813140   543.025317

In [29]:
#ahora utilizo todo el test, para predecir
#me va a dar un vector de duracines(mi prediccion)
#hago un zip con la columna y lo subo al kaggle

In [30]:
trip.head(3)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214

In [32]:
trip_min = trip[['id', 'duration']]

In [34]:
target = test[['id']]

In [35]:
target

            id
0       504737
1       530846
2       813140
3       897674
4       322830
5       487841
6       677808
7       704449
8       833587
9       420411
10      354777
11       17809
12      854667
13      673325
14      729900
15        4485
16      349394
17      784460
18      908431
19      805578
20      609571
21      269385
22      227320
23      658277
24      205479
25      429936
26      176953
27       64226
28      489619
29      831189
...        ...
119968   60831
119969  875546
119970  126578
119971  244611
119972  110019
119973  114911
119974  649284
119975  719648
119976  536952
119977  579153
119978  619244
119979  277802
119980  572524
119981  273279
119982  438379
119983  322903
119984  226880
119985   34690
119986  581506
119987  365644
119988   18373
119989  646921
119990  835970
119991  100540
119992  503083
119993  274799
119994  464786
119995  172825
119996  641204
119997  893371

[119998 rows x 1 columns]

In [40]:
test.shape

(119998, 11)

In [36]:

testTarget = pd.merge(trip_min,target, how = "inner", on = "id")

In [37]:
testTarget.head(3)

     id  duration
0  4130        71
1  4498       126
2  4557       130

In [47]:
duration_real = testTarget['duration']

In [49]:
score_test = mean_squared_error(prediccion1,duration_real)
score_test

44298018.733980671

In [39]:
testTarget.shape

(119998, 2)

In [62]:
submit1.to_csv('Submit1.csv',index=False)