In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
weather = pd.read_csv('tp_bike/weather.csv')

In [15]:
station = pd.read_csv('tp_bike/station.csv')

In [17]:
station['city'].value_counts()

San Francisco    35
San Jose         16
Redwood City      7
Mountain View     7
Palo Alto         5
Name: city, dtype: int64

In [18]:
station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
id                   70 non-null int64
name                 70 non-null object
lat                  70 non-null float64
long                 70 non-null float64
dock_count           70 non-null int64
city                 70 non-null object
installation_date    70 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 3.0+ KB

In [3]:
weather.head(3)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107

In [9]:
weather['date'].value_counts()

10/24/2013    5
11/28/2014    5
11/28/2013    5
10/31/2013    5
10/14/2013    5
12/21/2014    5
9/14/2014     5
7/24/2015     5
5/18/2015     5
3/24/2014     5
1/18/2015     5
7/31/2014     5
6/2/2014      5
5/16/2014     5
5/28/2015     5
10/17/2014    5
1/18/2014     5
5/4/2015      5
3/19/2014     5
3/19/2015     5
6/10/2014     5
4/18/2014     5
1/11/2014     5
4/26/2015     5
12/21/2013    5
11/9/2013     5
2/23/2014     5
11/12/2013    5
8/19/2015     5
8/19/2014     5
             ..
2/15/2015     5
10/22/2013    5
10/9/2014     5
4/18/2015     5
6/17/2015     5
8/13/2015     5
8/13/2014     5
2/20/2015     5
2/17/2014     5
1/16/2015     5
2/5/2014      5
10/30/2014    5
2/13/2015     5
10/30/2013    5
5/2/2015      5
11/27/2013    5
11/4/2014     5
5/27/2015     5
7/7/2014      5
9/17/2014     5
7/13/2015     5
10/4/2013     5
5/19/2015     5
11/11/2013    5
2/19/2014     5
10/4/2014     5
9/17/2013     5
4/10/2014     5
3/11/2015     5
3/1/2014      5
Name: date, dtype: int64

In [13]:
weather.dtypes

date                               object
max_temperature_f                 float64
mean_temperature_f                float64
min_temperature_f                 float64
max_dew_point_f                   float64
mean_dew_point_f                  float64
min_dew_point_f                   float64
max_humidity                      float64
mean_humidity                     float64
min_humidity                      float64
max_sea_level_pressure_inches     float64
mean_sea_level_pressure_inches    float64
min_sea_level_pressure_inches     float64
max_visibility_miles              float64
mean_visibility_miles             float64
min_visibility_miles              float64
max_wind_Speed_mph                float64
mean_wind_speed_mph               float64
max_gust_speed_mph                float64
precipitation_inches               object
cloud_cover                       float64
events                             object
wind_dir_degrees                  float64
zip_code                            int64
dtype: object

In [10]:
weather.loc[weather.date.str.contains('10/4/2014')]

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
1873,10/4/2014,92.0,74.0,55.0,55.0,46.0,40.0,73.0,46.0,19.0,...,10.0,10.0,14.0,4.0,17.0,0,1.0,NaN,323.0,94107
2238,10/4/2014,91.0,76.0,60.0,64.0,43.0,28.0,65.0,39.0,13.0,...,10.0,10.0,10.0,1.0,NaN,0,0.0,NaN,360.0,94063
2603,10/4/2014,89.0,71.0,53.0,63.0,55.0,46.0,77.0,52.0,27.0,...,10.0,10.0,12.0,6.0,NaN,0,0.0,NaN,346.0,94301
2968,10/4/2014,91.0,74.0,57.0,57.0,46.0,36.0,55.0,35.0,15.0,...,10.0,10.0,12.0,3.0,16.0,0,0.0,NaN,343.0,94041
3333,10/4/2014,92.0,75.0,58.0,49.0,41.0,32.0,56.0,35.0,13.0,...,10.0,10.0,14.0,4.0,17.0,0,1.0,NaN,307.0,95113

In [14]:
weather['zip_code'].value_counts()
#como hago para saber que codigo le pertenece a cada ciudad

95113    733
94301    733
94107    733
94063    733
94041    733
Name: zip_code, dtype: int64

In [19]:
#Cada codigo postal, pertenece a una ciudad. Hay 5 ciudades
#PREGUNTA: Puede el clima de una ciudad influenciar en la cantidad de 
#alquileres que se relizen

#Analizo un poco el clima en cada ciudad
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 24 columns):
date                              3665 non-null object
max_temperature_f                 3661 non-null float64
mean_temperature_f                3661 non-null float64
min_temperature_f                 3661 non-null float64
max_dew_point_f                   3611 non-null float64
mean_dew_point_f                  3611 non-null float64
min_dew_point_f                   3611 non-null float64
max_humidity                      3611 non-null float64
mean_humidity                     3611 non-null float64
min_humidity                      3611 non-null float64
max_sea_level_pressure_inches     3664 non-null float64
mean_sea_level_pressure_inches    3664 non-null float64
min_sea_level_pressure_inches     3664 non-null float64
max_visibility_miles              3652 non-null float64
mean_visibility_miles             3652 non-null float64
min_visibility_miles              3652 non-null float64
max_wind_Speed_mph                3664 non-null float64
mean_wind_speed_mph               3664 non-null float64
max_gust_speed_mph                2766 non-null float64
precipitation_inches              3664 non-null object
cloud_cover                       3664 non-null float64
events                            522 non-null object
wind_dir_degrees                  3664 non-null float64
zip_code                          3665 non-null int64
dtypes: float64(20), int64(1), object(3)
memory usage: 644.3+ KB

In [22]:
#Depuro los datos, convierto los grados a centigrados
def f(x):
    return(x+1) 
#####################################################################
#weather['max_temp_c'] = weather['max_temperature_f'].apply(lambda x: f(x), axis = 1)