In [1]:
import pandas as pd
import seaborn as sbs
import numpy as np
import calendar
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectFromModel
from sklearn import metrics

In [2]:
train  = pd.read_csv('tp_bike/trip_train.csv')
test = pd.read_csv('tp_bike/trip_test.csv')
trip = pd.read_csv('tp_bike/trip.csv')
weather = pd.read_csv('tp_bike/weather.csv')
station = pd.read_csv('tp_bike/station.csv')

In [3]:
del train['end_date']
del train['end_station_name']
del train['end_station_id']
del test['end_date']
del test['end_station_name']
del test['end_station_id']

In [4]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,Subscriber,94602
1,384043,636,7/28/2014 22:06,Market at 10th,67,417,Subscriber,94133
2,316176,334,6/9/2014 8:42,Market at Sansome,77,281,Subscriber,94107

In [5]:
test.head(3)

,id,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,426,Customer,77009
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,454,Subscriber,94132
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,370,Subscriber,94107

In [6]:
fechaYhora = train['start_date'].str.split(' ')
fecha = fechaYhora.map(lambda x: x[0])
hora = fechaYhora.map(lambda x: x[1])
train = train.assign(date_start = fecha, time_start = hora)

In [7]:
train['date_start'] = pd.to_datetime(train['date_start'])
train['weekday'] = train['date_start'].map(lambda x: x.weekday_name)
train['hour_start'] = pd.to_datetime(train['time_start'], format = '%H:%M', errors = 'coerce').dt.hour

In [8]:
#idem para el test
fechaYhora = test['start_date'].str.split(' ')
fecha = fechaYhora.map(lambda x: x[0])
hora = fechaYhora.map(lambda x: x[1])
test = test.assign(date_start = fecha, time_start = hora)

test['date_start'] = pd.to_datetime(test['date_start'])
test['weekday'] = test['date_start'].map(lambda x: x.weekday_name)
test['hour_start'] = pd.to_datetime(test['time_start'], format = '%H:%M', errors = 'coerce').dt.hour

In [9]:
train['subscription_type'] = train.subscription_type.map({'Subscriber':1, 'Customer':0})
train['weekday'] = train.weekday.map({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4,\
                                      'Friday': 5, 'Saturday': 6, 'Sunday': 7})

In [10]:
test['weekday'] = test.weekday.map({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7})
test['subscription_type'] = test.subscription_type.map({'Subscriber':1, 'Customer':0})

In [11]:
train['month_start'] = train['date_start'].map(lambda x: x.month)
test['month_start'] = test['date_start'].map(lambda x: x.month)

In [12]:
#cambio zip code a numerico
train.zip_code = train.zip_code.str.replace('nil','')
train.zip_code = pd.to_numeric(train.zip_code,errors='coerce')
test.zip_code = test.zip_code.str.replace('nil','')
test.zip_code = pd.to_numeric(test.zip_code,errors='coerce')

In [13]:
train.dtypes

id                             int64
duration                       int64
start_date                    object
start_station_name            object
start_station_id               int64
bike_id                        int64
subscription_type              int64
zip_code                     float64
date_start            datetime64[ns]
time_start                    object
weekday                        int64
hour_start                     int64
month_start                    int64
dtype: object

In [14]:
cols = ['id', 'start_station_id', 'bike_id', 'subscription_type', 'month_start', 'weekday', 'hour_start']
features = train[cols]
duration = train.duration

In [15]:
test1 = test[cols]

In [16]:
features.head(3)

,id,start_station_id,bike_id,subscription_type,month_start,weekday,hour_start
0,907649,50,187,1,8,4,8
1,384043,67,417,1,7,1,22
2,316176,77,281,1,6,1,8

# Linear Regression

In [17]:
x_train, x_test, y_train, y_test = train_test_split(features, duration, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train) #entreno el algoritmo

#prediccion

pred = reg.predict(x_test)

score = mean_squared_error(pred,y_test)
score

#calculo el error de mi prediccion

#error = (pred - y_test) ** 2

#otra forma mejor
# error = no.sqrt(metrics.mean_squared_error(pred, y_test))

#para que servia reg.score(x_test, y_test)

948149745.27316415

In [18]:
prediccion1 = reg.predict(test1)

In [19]:
tripIdDuration = trip[['id','duration']]

In [20]:
tripIdDuration

            id  duration
0         4576        63
1         4607        70
2         4130        71
3         4251        77
4         4299        83
5         4927       103
6         4500       109
7         4563       111
8         4760       113
9         4258       114
10        4549       125
11        4498       126
12        4965       129
13        4557       130
14        4386       134
15        4749       138
16        4242       141
17        4329       142
18        5097       142
19        5084       144
20        4982       146
21        4417       148
22        4265       151
23        5093       160
24        4168       161
25        4550       163
26        4533       165
27        4510       166
28        5070       168
29        4917       169
...        ...       ...
669929  433003       518
669930  433002     23767
669931  433001     23783
669932  432999       661
669933  432998       321
669934  432996       437
669935  432995      7508
669936  432994      7503
669937  432991       314
669938  432985       419
669939  432981      1536
669940  432980      1545
669941  432979      1290
669942  432978       630
669943  432977       333
669944  432972      6937
669945  432971       450
669946  432967       161
669947  432966     17396
669948  432965     17297
669949  432964       169
669950  432960      5667
669951  432959       441
669952  432957       398
669953  432952       240
669954  432951       619
669955  432950      6712
669956  432949       538
669957  432948       568
669958  432947       569

[669959 rows x 2 columns]

In [21]:
target = pd.DataFrame(test['id'])

In [22]:
test['id']

0         504737
1         530846
2         813140
3         897674
4         322830
5         487841
6         677808
7         704449
8         833587
9         420411
10        354777
11         17809
12        854667
13        673325
14        729900
15          4485
16        349394
17        784460
18        908431
19        805578
20        609571
21        269385
22        227320
23        658277
24        205479
25        429936
26        176953
27         64226
28        489619
29        831189
           ...
119968     60831
119969    875546
119970    126578
119971    244611
119972    110019
119973    114911
119974    649284
119975    719648
119976    536952
119977    579153
119978    619244
119979    277802
119980    572524
119981    273279
119982    438379
119983    322903
119984    226880
119985     34690
119986    581506
119987    365644
119988     18373
119989    646921
119990    835970
119991    100540
119992    503083
119993    274799
119994    464786
119995    172825
119996    641204
119997    893371
Name: id, dtype: int64

In [23]:
la = pd.merge(tripIdDuration,target, how = "right",on='id')

In [24]:
la

            id  duration
0         4130        71
1         4498       126
2         4557       130
3         4386       134
4         4242       141
5         4550       163
6         4917       169
7         4841       197
8         4704       204
9         4824       207
10        4638       211
11        4081       218
12        5001       236
13        5002       236
14        4423       254
15        4743       267
16        5057       284
17        4595       288
18        4959       292
19        4331       307
20        4744       319
21        4941       337
22        4647       340
23        4300       346
24        4968       346
25        5075       348
26        4570       351
27        4278       353
28        4399       355
29        4745       360
...        ...       ...
119968  433178       961
119969  433174       532
119970  433173     71035
119971  433147       844
119972  433143      1926
119973  433130       672
119974  433127      7542
119975  433126       913
119976  433122       727
119977  433115      1207
119978  433112      1931
119979  433090       869
119980  433088      9001
119981  433086      1021
119982  433083       406
119983  433080      1251
119984  433067       873
119985  433063     13635
119986  433054      1750
119987  433052      2255
119988  433035       558
119989  433033       956
119990  433016       925
119991  433014       147
119992  432999       661
119993  432994      7503
119994  432978       630
119995  432967       161
119996  432957       398
119997  432950      6712

[119998 rows x 2 columns]

In [25]:
testTarget = pd.merge(tripIdDuration,target, how = "right",on='id')

In [26]:
testTarget.head(3)

     id  duration
0  4130        71
1  4498       126
2  4557       130

In [27]:
duration_real = testTarget['duration']

In [28]:
score_test = mean_squared_error(prediccion1,duration_real)
score_test

44298018.733980663

# Codigo para sacar afuera el csv para submit

In [29]:
ids = test.id

In [30]:
data = {'id': ids, 'duration': prediccion1}
submit1 = pd.DataFrame(data)

In [31]:
submit1.head(3)

      duration      id
0  4004.673128  504737
1   636.435005  530846
2   543.025317  813140

In [32]:
#submit1.to_csv('tp_bike/submit1.csv',index=False)

# Agregado de merge

In [33]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,1,94602.0,2015-08-27,8:36,4,8,8
1,384043,636,7/28/2014 22:06,Market at 10th,67,417,1,94133.0,2014-07-28,22:06,1,22,7
2,316176,334,6/9/2014 8:42,Market at Sansome,77,281,1,94107.0,2014-06-09,8:42,1,8,6

In [34]:
train.loc[train.zip_code.isnull(),'zip_code'] = 0

In [35]:
test.loc[test.zip_code.isnull(),'zip_code'] = 0

In [36]:
train['zip_code'].isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
549931    False
549932    False
549933    False
549934    False
549935    False
549936    False
549937    False
549938    False
549939    False
549940    False
549941    False
549942    False
549943    False
549944    False
549945    False
549946    False
549947    False
549948    False
549949    False
549950    False
549951    False
549952    False
549953    False
549954    False
549955    False
549956    False
549957    False
549958    False
549959    False
549960    False
Name: zip_code, dtype: bool

In [37]:
train.dtypes

id                             int64
duration                       int64
start_date                    object
start_station_name            object
start_station_id               int64
bike_id                        int64
subscription_type              int64
zip_code                     float64
date_start            datetime64[ns]
time_start                    object
weekday                        int64
hour_start                     int64
month_start                    int64
dtype: object

In [38]:
cols = ['id', 'start_station_id', 'bike_id', 'subscription_type', 'month_start', 'weekday', 'hour_start','zip_code']
features = train[cols]

In [39]:
test2 = test[cols]

In [40]:
x_train, x_test, y_train, y_test = train_test_split(features, duration, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train)
pred = reg.predict(test2)

In [41]:
score_test = mean_squared_error(pred,duration_real)
score_test

44891332.068091244

In [42]:
cols = ['id','start_station_id','bike_id', 'subscription_type', 'month_start', 'weekday', 'hour_start']
features = train[cols]

In [43]:
test2 = test[cols]

In [44]:
one_hot_encoding = pd.get_dummies(features['weekday'])
features = features.drop('weekday',axis=1)
features = features.join(one_hot_encoding)
features

,id,start_station_id,bike_id,subscription_type,month_start,hour_start,1,2,3,4,5,6,7
0,907649,50,187,1,8,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,384043,67,417,1,7,22,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,316176,77,281,1,6,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,618874,69,634,1,1,16,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,910977,67,607,1,8,15,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,522083,65,370,1,10,7,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,880809,64,443,1,8,17,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,488938,71,485,1,10,14,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,899522,62,603,1,8,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,737380,76,86,0,4,6,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,291053,70,528,1,5,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,332574,77,284,1,6,11,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,432022,50,659,0,8,14,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,398366,69,592,1,8,10,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,863630,61,524,1,7,15,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15,644854,39,325,0,2,9,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,390681,56,507,1,8,16,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,224386,50,415,0,3,16,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,246380,54,344,1,4,9,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,350371,55,524,1,7,17,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20,429032,64,422,0,8,12,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,479700,77,279,1,10,9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
22,529387,63,134,1,11,17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
23,777536,55,348,1,5,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,769331,74,475,1,5,18,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25,537257,33,177,1,11,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0
26,298292,50,392,0,5,13,1.0,0.0,0.0,0.0,0.0,0.0,0.0
27,485095,61,401,1,10,16,1.0,0.0,0.0,0.0,0.0,0.0,0.0
28,109338,2,20,1,11,7,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,416274,73,522,1,8,8,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
549931,10841,77,344,0,9,15,0.0,0.0,1.0,0.0,0.0,0.0,0.0
549932,155867,64,550,1,1,14,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549933,322105,60,621,1,6,17,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549934,865329,50,514,1,7,13,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549935,419180,82,610,1,8,17,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549936,288255,69,325,1,5,15,0.0,0.0,0.0,0.0,0.0,1.0,0.0
549937,27175,54,530,0,9,10,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549938,716966,67,360,1,4,16,0.0,0.0,1.0,0.0,0.0,0.0,0.0
549939,422409,72,33,1,8,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549940,599416,60,566,1,1,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0
549941,860647,12,127,1,7,10,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549942,174919,67,473,1,2,20,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549943,449873,28,670,1,9,9,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549944,711539,55,549,1,4,17,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549945,150716,67,378,0,1,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0
549946,172164,50,371,1,1,9,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549947,444391,77,635,1,9,10,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549948,53552,46,369,0,10,18,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549949,673387,69,350,1,3,9,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549950,102255,77,291,1,11,17,0.0,0.0,1.0,0.0,0.0,0.0,0.0
549951,629989,55,532,1,2,17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549952,565782,62,29,1,12,12,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549953,443642,41,212,0,9,20,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549954,527512,47,276,1,11,18,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549955,717951,67,388,1,4,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
549956,154475,60,529,1,1,15,0.0,0.0,1.0,0.0,0.0,0.0,0.0
549957,89909,61,438,1,11,11,0.0,0.0,0.0,0.0,0.0,1.0,0.0
549958,273152,69,367,0,5,7,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549959,200932,71,587,1,3,9,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549960,821609,74,447,1,6,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [45]:
one_hot_encoding = pd.get_dummies(test2['weekday'])
test2 = test2.drop('weekday',axis=1)
test2 = test2.join(one_hot_encoding)
test2

,id,start_station_id,bike_id,subscription_type,month_start,hour_start,1,2,3,4,5,6,7
0,504737,60,426,0,10,11,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,530846,51,454,1,11,13,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,813140,70,370,1,6,17,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,897674,72,451,1,8,7,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,322830,69,603,1,6,8,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,487841,61,478,1,10,21,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,677808,67,505,1,3,18,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,704449,48,356,1,3,17,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,833587,67,401,1,7,11,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,420411,48,363,1,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,354777,54,591,1,7,14,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,17809,72,588,1,9,13,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,854667,64,405,1,7,19,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,673325,62,417,1,3,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,729900,69,472,0,4,9,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,4485,45,410,0,8,13,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16,349394,50,526,1,7,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17,784460,45,652,1,5,13,0.0,0.0,0.0,1.0,0.0,0.0,0.0
18,908431,51,562,1,8,16,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19,805578,69,332,1,6,19,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20,609571,77,593,1,1,12,1.0,0.0,0.0,0.0,0.0,0.0,0.0
21,269385,46,594,0,5,10,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,227320,69,612,1,3,9,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,658277,39,501,1,2,17,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,205479,74,551,1,3,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25,429936,62,627,1,8,20,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,176953,82,338,0,2,14,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27,64226,68,494,1,10,18,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28,489619,77,564,1,10,18,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,831189,60,374,1,7,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119968,60831,67,369,1,10,17,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119969,875546,65,583,1,8,17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
119970,126578,77,627,1,12,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119971,244611,77,353,1,4,8,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119972,110019,74,437,1,11,17,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119973,114911,45,260,1,12,10,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119974,649284,76,531,1,2,19,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119975,719648,84,90,1,4,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119976,536952,84,161,1,11,6,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119977,579153,62,390,1,12,16,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119978,619244,41,354,1,1,18,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119979,277802,69,417,1,5,8,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119980,572524,70,651,1,12,7,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119981,273279,29,703,1,5,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0
119982,438379,41,376,1,9,15,0.0,0.0,0.0,1.0,0.0,0.0,0.0
119983,322903,66,33,1,6,9,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119984,226880,74,259,1,3,17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
119985,34690,54,620,1,9,14,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119986,581506,82,572,1,12,17,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119987,365644,67,601,1,7,7,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119988,18373,65,549,1,9,20,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119989,646921,75,335,1,2,12,0.0,1.0,0.0,0.0,0.0,0.0,0.0
119990,835970,69,391,1,7,9,0.0,1.0,0.0,0.0,0.0,0.0,0.0
119991,100540,50,492,0,11,18,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119992,503083,69,265,1,10,8,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119993,274799,66,493,1,5,8,0.0,0.0,1.0,0.0,0.0,0.0,0.0
119994,464786,69,659,1,9,19,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119995,172825,50,559,1,1,19,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119996,641204,2,42,1,2,9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
119997,893371,75,288,1,8,17,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
x_train, x_test, y_train, y_test = train_test_split(features, duration, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train)
pred = reg.predict(test2)

In [47]:
score_test = mean_squared_error(pred,duration_real)
score_test

44307558.49363292

In [48]:
predTrain = reg.predict(x_test)

In [49]:
mean_squared_error(predTrain,y_test)

948136066.56417203

# Mergeo

In [50]:
#Creo el dataframe con los zip code de cada cuidad para despues mergear
dato = { 'city' : ['San Jose','Palo Alto','San Francisco','Redwood City','Mountain View'],\
       'zip_code': [95113,94301,94107,94063,94041]}
cityZipCode = pd.DataFrame(dato)
cityZipCode

            city  zip_code
0       San Jose     95113
1      Palo Alto     94301
2  San Francisco     94107
3   Redwood City     94063
4  Mountain View     94041

In [51]:
train.shape

(549961, 13)

In [52]:
weather.shape

(3665, 24)

In [53]:
#Mergeo asi consigo el zip
stationZip = pd.merge(station,cityZipCode,on='city',how='outer')

In [54]:
stationZip.head(3)

,id,name,lat,long,dock_count,city,installation_date,zip_code
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,95113
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013,95113
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013,95113

In [55]:
stationZip['zip_code'].value_counts()

94107    35
95113    16
94063     7
94041     7
94301     5
Name: zip_code, dtype: int64

In [56]:
weather['date'] = pd.to_datetime(weather['date'])

In [57]:
# Mergeo con weather asi consigo la ciudad ademas del zip code
weatherCity = pd.merge(weather,cityZipCode,on='zip_code',how='inner')
weatherCity.head(3)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code,city
0,2013-08-29,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,San Francisco
1,2013-08-30,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107,San Francisco
2,2013-08-31,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107,San Francisco

In [58]:
weatherCity = weatherCity[['date','cloud_cover','events','city','zip_code','wind_dir_degrees']]

In [59]:
weatherCity['zip_code'].value_counts()

95113    733
94301    733
94107    733
94063    733
94041    733
Name: zip_code, dtype: int64

In [60]:
weatherCity.shape

(3665, 6)

In [61]:
stationZip.shape

(70, 8)

In [62]:
train.shape

(549961, 13)

In [63]:
stationZip

,id,name,lat,long,dock_count,city,installation_date,zip_code
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,95113
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013,95113
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013,95113
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013,95113
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013,95113
5,7,Paseo de San Antonio,37.333798,-121.886943,15,San Jose,8/7/2013,95113
6,8,San Salvador at 1st,37.330165,-121.885831,15,San Jose,8/5/2013,95113
7,9,Japantown,37.348742,-121.894715,15,San Jose,8/5/2013,95113
8,10,San Jose City Hall,37.337391,-121.886995,15,San Jose,8/6/2013,95113
9,11,MLK Library,37.335885,-121.885660,19,San Jose,8/6/2013,95113
10,12,SJSU 4th at San Carlos,37.332808,-121.883891,19,San Jose,8/7/2013,95113
11,13,St James Park,37.339301,-121.889937,15,San Jose,8/6/2013,95113
12,14,Arena Green / SAP Center,37.332692,-121.900084,19,San Jose,8/5/2013,95113
13,16,SJSU - San Salvador at 9th,37.333955,-121.877349,15,San Jose,8/7/2013,95113
14,80,Santa Clara County Civic Center,37.352601,-121.905733,15,San Jose,12/31/2013,95113
15,84,Ryland Park,37.342725,-121.895617,15,San Jose,4/9/2014,95113
16,21,Franklin at Maple,37.481758,-122.226904,15,Redwood City,8/12/2013,94063
17,22,Redwood City Caltrain Station,37.486078,-122.232089,25,Redwood City,8/15/2013,94063
18,23,San Mateo County Center,37.487616,-122.229951,15,Redwood City,8/15/2013,94063
19,24,Redwood City Public Library,37.484219,-122.227424,15,Redwood City,8/12/2013,94063
20,25,Stanford in Redwood City,37.485370,-122.203288,15,Redwood City,8/12/2013,94063
21,26,Redwood City Medical Center,37.487682,-122.223492,15,Redwood City,8/12/2013,94063
22,83,Mezes Park,37.491269,-122.236234,15,Redwood City,2/20/2014,94063
23,27,Mountain View City Hall,37.389218,-122.081896,15,Mountain View,8/16/2013,94041
24,28,Mountain View Caltrain Station,37.394358,-122.076713,23,Mountain View,8/15/2013,94041
25,29,San Antonio Caltrain Station,37.406940,-122.106758,23,Mountain View,8/15/2013,94041
26,30,Evelyn Park and Ride,37.390277,-122.066553,15,Mountain View,8/16/2013,94041
27,31,San Antonio Shopping Center,37.400443,-122.108338,15,Mountain View,12/31/2013,94041
28,32,Castro Street and El Camino Real,37.385956,-122.083678,11,Mountain View,12/31/2013,94041
29,33,Rengstorff Avenue / California Street,37.400241,-122.099076,15,Mountain View,8/16/2013,94041
...,...,...,...,...,...,...,...,...
40,48,Embarcadero at Vallejo,37.799953,-122.398525,15,San Francisco,8/19/2013,94107
41,49,Spear at Folsom,37.790302,-122.390637,19,San Francisco,8/20/2013,94107
42,50,Harry Bridges Plaza (Ferry Building),37.795392,-122.394203,23,San Francisco,8/20/2013,94107
43,51,Embarcadero at Folsom,37.791464,-122.391034,19,San Francisco,8/20/2013,94107
44,39,Powell Street BART,37.783871,-122.408433,19,San Francisco,8/25/2013,94107
45,54,Embarcadero at Bryant,37.787152,-122.388013,15,San Francisco,8/20/2013,94107
46,55,Temporary Transbay Terminal (Howard at Beale),37.789756,-122.394643,23,San Francisco,8/20/2013,94107
47,56,Beale at Market,37.792251,-122.397086,19,San Francisco,8/20/2013,94107
48,57,5th at Howard,37.781752,-122.405127,15,San Francisco,8/21/2013,94107
49,58,San Francisco City Hall,37.778650,-122.418235,19,San Francisco,8/21/2013,94107
50,59,Golden Gate at Polk,37.781332,-122.418603,23,San Francisco,8/21/2013,94107
51,60,Embarcadero at Sansome,37.804770,-122.403234,15,San Francisco,8/21/2013,94107
52,61,2nd at Townsend,37.780526,-122.390288,27,San Francisco,8/22/2013,94107
53,62,2nd at Folsom,37.785299,-122.396236,19,San Francisco,8/22/2013,94107
54,63,Howard at 2nd,37.786978,-122.398108,19,San Francisco,8/22/2013,94107
55,64,2nd at South Park,37.782259,-122.392738,15,San Francisco,8/22/2013,94107
56,65,Townsend at 7th,37.771058,-122.402717,15,San Francisco,8/22/2013,94107
57,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013,94107
58,67,Market at 10th,37.776619,-122.417385,27,San Francisco,8/23/2013,94107
59,68,Yerba Buena Center of the Arts (3rd @ Howard),37.784878,-122.401014,19,San Francisco,8/23/2013,94107
60,69,San Francisco Caltrain 2 (330 Townsend),37.776600,-122.395470,23,San Francisco,8/23/2013,94107
61,70,San Francisco Caltrain (Townsend at 4th),37.776617,-122.395260,19,San Francisco,8/23/2013,94107
62,71,Powell at Post (Union Square),37.788446,-122.408499,19,San Francisco,8/23/2013,94107
63,72,Civic Center BART (7th at Market),37.781039,-122.411748,23,San Francisco,8/23/2013,94107
64,73,Grant Avenue at Columbus Avenue,37.798522,-122.407245,15,San Francisco,8/21/2013,94107
65,74,Steuart at Market,37.794139,-122.394434,23,San Francisco,8/25/2013,94107
66,75,Mechanics Plaza (Market at Battery),37.791300,-122.399051,19,San Francisco,8/25/2013,94107
67,76,Market at 4th,37.786305,-122.404966,19,San Francisco,8/25/2013,94107
68,77,Market at Sansome,37.789625,-122.400811,27,San Francisco,8/25/2013,94107
69,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,94107

In [64]:
stationZip = stationZip.rename( columns = { 'name'  : 'start_station_name' } )

In [65]:
stationZip = stationZip[['start_station_name','city']]

In [66]:
stationZip.head(3)

                  start_station_name      city
0  San Jose Diridon Caltrain Station  San Jose
1              San Jose Civic Center  San Jose
2             Santa Clara at Almaden  San Jose

In [67]:
train2 = pd.merge(stationZip,train,on='start_station_name',how='inner')

In [68]:
testStation = pd.merge(stationZip,test,on='start_station_name',how='right')

In [69]:
testStation.shape

(119998, 13)

In [70]:
train2.shape

(540635, 14)

In [71]:
train2.head(3)

,start_station_name,city,id,duration,start_date,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start
0,San Jose Diridon Caltrain Station,San Jose,109338,372,11/27/2013 7:46,2,20,1,95377.0,2013-11-27,7:46,3,7,11
1,San Jose Diridon Caltrain Station,San Jose,740113,2408,4/24/2015 16:34,2,138,1,95113.0,2015-04-24,16:34,5,16,4
2,San Jose Diridon Caltrain Station,San Jose,61560,420,10/17/2013 8:46,2,657,1,94002.0,2013-10-17,8:46,4,8,10

In [72]:
weatherCity.head(3)

        date  cloud_cover events           city  zip_code  wind_dir_degrees
0 2013-08-29          4.0    NaN  San Francisco     94107             286.0
1 2013-08-30          2.0    NaN  San Francisco     94107             291.0
2 2013-08-31          4.0    NaN  San Francisco     94107             284.0

In [73]:
weatherCity = weatherCity.rename( columns = { 'date'  : 'date_start' } )

In [74]:
weatherCity.loc[weatherCity.events == 'rain', 'events'] = "Rain"
weatherCity.loc[weatherCity.events.isnull(), 'events'] = "Normal"

In [75]:
weatherCity['events'] = weatherCity.events.map({'Normal': 1, 'Rain': 2, 'Fog': 3, 'Fog-Rain': 4,\
                                      'Rain-Thunderstorm': 5})

In [76]:
weatherCity.dtypes

date_start          datetime64[ns]
cloud_cover                float64
events                       int64
city                        object
zip_code                     int64
wind_dir_degrees           float64
dtype: object

In [77]:
weatherCity['cloud_cover'].value_counts()

0.0    834
1.0    490
2.0    478
3.0    474
4.0    456
5.0    400
6.0    283
7.0    180
8.0     69
Name: cloud_cover, dtype: int64

In [78]:
weatherCity['wind_dir_degrees'].value_counts()

350.0    47
299.0    46
349.0    45
291.0    43
346.0    42
337.0    42
343.0    41
340.0    38
303.0    38
297.0    38
293.0    36
298.0    35
296.0    35
302.0    35
294.0    35
311.0    35
338.0    34
352.0    34
305.0    34
276.0    34
300.0    33
341.0    33
328.0    32
288.0    32
339.0    32
295.0    32
353.0    31
342.0    31
304.0    30
334.0    30
         ..
109.0     1
117.0     1
120.0     1
169.0     1
172.0     1
177.0     1
181.0     1
182.0     1
183.0     1
195.0     1
221.0     1
99.0      1
96.0      1
95.0      1
69.0      1
53.0      1
55.0      1
59.0      1
60.0      1
61.0      1
67.0      1
71.0      1
94.0      1
72.0      1
79.0      1
80.0      1
84.0      1
87.0      1
92.0      1
0.0       1
Name: wind_dir_degrees, dtype: int64

In [79]:
weatherCity.head(3)

  date_start  cloud_cover  events           city  zip_code  wind_dir_degrees
0 2013-08-29          4.0       1  San Francisco     94107             286.0
1 2013-08-30          2.0       1  San Francisco     94107             291.0
2 2013-08-31          4.0       1  San Francisco     94107             284.0

In [80]:
trainWeather = pd.merge(train2,weatherCity,on=['date_start','city'],how='inner')

In [81]:
testWeather = pd.merge(testStation,weatherCity,on=['date_start','city'],how='left')

In [82]:
testWeather.shape

(119998, 17)

In [83]:
trainWeather.shape

(540635, 18)

In [84]:
trainWeather.head(3)

,start_station_name,city,id,duration,start_date,start_station_id,bike_id,subscription_type,zip_code_x,date_start,time_start,weekday,hour_start,month_start,cloud_cover,events,zip_code_y,wind_dir_degrees
0,San Jose Diridon Caltrain Station,San Jose,109338,372,11/27/2013 7:46,2,20,1,95377.0,2013-11-27,7:46,3,7,11,4.0,1,95113,284.0
1,San Jose Diridon Caltrain Station,San Jose,109583,521,11/27/2013 10:23,2,239,1,94404.0,2013-11-27,10:23,3,10,11,4.0,1,95113,284.0
2,San Jose Diridon Caltrain Station,San Jose,109692,440,11/27/2013 12:46,2,235,1,95126.0,2013-11-27,12:46,3,12,11,4.0,1,95113,284.0

In [85]:
testWeather.head(3)

,start_station_name,city,id,start_date,start_station_id,bike_id,subscription_type,zip_code_x,date_start,time_start,weekday,hour_start,month_start,cloud_cover,events,zip_code_y,wind_dir_degrees
0,San Jose Diridon Caltrain Station,San Jose,795571,6/5/2015 10:04,2,152,1,94103.0,2015-06-05,10:04,5,10,6,2.0,1.0,95113.0,233.0
1,San Jose Diridon Caltrain Station,San Jose,895359,8/18/2015 17:37,2,250,1,97214.0,2015-08-18,17:37,2,17,8,2.0,1.0,95113.0,283.0
2,San Jose Diridon Caltrain Station,San Jose,58423,10/15/2013 8:16,2,234,1,94103.0,2013-10-15,8:16,2,8,10,0.0,1.0,95113.0,292.0

In [86]:
trainWeather = trainWeather.rename( columns = { 'zip_code_x'  : 'zip_code', 'zip_code_y' : 'zip_code_city' } )
testWeather = testWeather.rename( columns = { 'zip_code_x'  : 'zip_code', 'zip_code_y' : 'zip_code_city' } )

In [87]:
trainWeather.head(3)

,start_station_name,city,id,duration,start_date,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start,cloud_cover,events,zip_code_city,wind_dir_degrees
0,San Jose Diridon Caltrain Station,San Jose,109338,372,11/27/2013 7:46,2,20,1,95377.0,2013-11-27,7:46,3,7,11,4.0,1,95113,284.0
1,San Jose Diridon Caltrain Station,San Jose,109583,521,11/27/2013 10:23,2,239,1,94404.0,2013-11-27,10:23,3,10,11,4.0,1,95113,284.0
2,San Jose Diridon Caltrain Station,San Jose,109692,440,11/27/2013 12:46,2,235,1,95126.0,2013-11-27,12:46,3,12,11,4.0,1,95113,284.0

In [88]:
testWeather.head(3)

,start_station_name,city,id,start_date,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start,cloud_cover,events,zip_code_city,wind_dir_degrees
0,San Jose Diridon Caltrain Station,San Jose,795571,6/5/2015 10:04,2,152,1,94103.0,2015-06-05,10:04,5,10,6,2.0,1.0,95113.0,233.0
1,San Jose Diridon Caltrain Station,San Jose,895359,8/18/2015 17:37,2,250,1,97214.0,2015-08-18,17:37,2,17,8,2.0,1.0,95113.0,283.0
2,San Jose Diridon Caltrain Station,San Jose,58423,10/15/2013 8:16,2,234,1,94103.0,2013-10-15,8:16,2,8,10,0.0,1.0,95113.0,292.0

In [89]:
trainWeather.loc[trainWeather.cloud_cover.isnull(), 'cloud_cover'] = 0

In [90]:
trainWeather['cloud_cover'].value_counts()

5.0    91022
4.0    80924
1.0    68629
6.0    66757
3.0    61471
0.0    55946
2.0    55795
7.0    43923
8.0    16168
Name: cloud_cover, dtype: int64

In [91]:
trainWeather.dtypes

start_station_name            object
city                          object
id                             int64
duration                       int64
start_date                    object
start_station_id               int64
bike_id                        int64
subscription_type              int64
zip_code                     float64
date_start            datetime64[ns]
time_start                    object
weekday                        int64
hour_start                     int64
month_start                    int64
cloud_cover                  float64
events                         int64
zip_code_city                  int64
wind_dir_degrees             float64
dtype: object

In [92]:
#trainWeather['cloud_cover'] = trainWeather['cloud_cover']

In [93]:
test.shape

(119998, 12)

In [94]:
trainWeather.shape

(540635, 18)

In [95]:
stationZip.shape

(70, 2)

In [96]:
#trainCity = pd.merge(train,station,on='')

In [97]:
# train.groupby('start_station_name').count().sort_values('id')

In [98]:
# station.groupby('name').count()

In [99]:
# weather['zip_code'].value_counts()

In [100]:
# train.head(3)

In [101]:
trainWeather = trainWeather.fillna(0)
testWeather = testWeather.fillna(0)

# Testeo Machine Learning con otras columnas, weather, etc

In [102]:
testWeather.head(3)

,start_station_name,city,id,start_date,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start,cloud_cover,events,zip_code_city,wind_dir_degrees
0,San Jose Diridon Caltrain Station,San Jose,795571,6/5/2015 10:04,2,152,1,94103.0,2015-06-05,10:04,5,10,6,2.0,1.0,95113.0,233.0
1,San Jose Diridon Caltrain Station,San Jose,895359,8/18/2015 17:37,2,250,1,97214.0,2015-08-18,17:37,2,17,8,2.0,1.0,95113.0,283.0
2,San Jose Diridon Caltrain Station,San Jose,58423,10/15/2013 8:16,2,234,1,94103.0,2013-10-15,8:16,2,8,10,0.0,1.0,95113.0,292.0

In [103]:
testTarget.head(3)

     id  duration
0  4130        71
1  4498       126
2  4557       130

##  Fin del mergeo, Ahora se usara trainWeather y testWeather

In [104]:
cols = ['id','start_station_id','bike_id', 'subscription_type', 'month_start', 'weekday', 'hour_start','events',\
       'wind_dir_degrees','cloud_cover']
features = trainWeather[cols]
target = testWeather[cols]

In [105]:
target.head(3)

,id,start_station_id,bike_id,subscription_type,month_start,weekday,hour_start,events,wind_dir_degrees,cloud_cover
0,795571,2,152,1,6,5,10,1.0,233.0,2.0
1,895359,2,250,1,8,2,17,1.0,283.0,2.0
2,58423,2,234,1,10,2,8,1.0,292.0,0.0

In [106]:
durationMerge = trainWeather['duration']

In [107]:
features.head(3)

,id,start_station_id,bike_id,subscription_type,month_start,weekday,hour_start,events,wind_dir_degrees,cloud_cover
0,109338,2,20,1,11,3,7,1,284.0,4.0
1,109583,2,239,1,11,3,10,1,284.0,4.0
2,109692,2,235,1,11,3,12,1,284.0,4.0

In [108]:
features.dtypes

id                     int64
start_station_id       int64
bike_id                int64
subscription_type      int64
month_start            int64
weekday                int64
hour_start             int64
events                 int64
wind_dir_degrees     float64
cloud_cover          float64
dtype: object

In [109]:
x_train, x_test, y_train, y_test = train_test_split(features, durationMerge, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train)
pred = reg.predict(target)
score_test = mean_squared_error(pred,duration_real)
score_test

44861996.875287145

# Testeo sobre el mismo train

In [110]:
predTrain = reg.predict(x_test)

In [111]:
mean_squared_error(predTrain,y_test)

57545975.760059536

In [112]:
ids = testWeather['id']
data = {'id': ids, 'duration': pred}
submit7 = pd.DataFrame(data)

In [113]:
submit7.head(3)

      duration      id
0  1129.587143  795571
1   940.223859  895359
2   581.191302   58423

In [114]:
resul = pd.merge(submit7,testTarget,on='id')

In [115]:
mean_squared_error(resul['duration_x'],resul['duration_y'])

41724027.64296864

In [116]:
resul

         duration_x      id  duration_y
0       1129.587143  795571         262
1        940.223859  895359         815
2        581.191302   58423         376
3        678.516739  526102         371
4       4102.572118   22836         408
5        758.731726  835944         604
6       1138.168902   73600         850
7        382.899683   31133         541
8        751.649733  377827         327
9       1008.059347  380951         610
10       736.278359  835152         401
11       561.843948  191298         445
12       533.203086  327491         460
13       816.302539  304705         532
14       830.584652  114613         248
15       866.915057  208437         472
16       801.207263  407795         494
17       830.628709  114606        1035
18       714.924899  808628         488
19       628.155950  191069         665
20       729.341077  834987         479
21      4615.586704  905121         447
22      1289.661368  228133         333
23       915.589074  468664         477
24       290.848243  216426         313
25       578.669904  648281         410
26       663.018741  302324         326
27      1322.873643   18469         208
28      1703.114954  602868         435
29       831.315719  146017         233
...             ...     ...         ...
119968  4785.552744  586385         443
119969   485.651198  330204         153
119970   430.402142  414143         520
119971  3999.641851  274269         773
119972   796.252184  532839         357
119973   331.486673  266599        1342
119974   684.917362  510569         424
119975   308.962300  694152        1018
119976   730.627564  490691         398
119977   882.022435  841695         561
119978   698.661692  254705         169
119979   304.520745  684343         396
119980  4818.512421  891921         773
119981   849.396241  136028         108
119982   389.752125  345025         219
119983   620.546920  356464         354
119984   860.383928  104566         178
119985   631.548685   69216         316
119986  4308.099679  192551         437
119987   442.880783  190435         183
119988  4436.424836  388746        1153
119989  4311.170818  173059       10254
119990   371.879303  176982         197
119991   687.497373    6483         221
119992  4140.629649  140954        1167
119993  -102.334906  180955        1142
119994    53.073321  140847         413
119995  3789.785658  157133        1068
119996  3698.490703  163303        1241
119997  3505.787413  152834        1060

[119998 rows x 3 columns]

In [117]:
submit7.to_csv('tp_bike/submit7.csv',index=False)

In [118]:
def KBest(data,y,numK):
    columns = data.columns
    selector = SelectKBest(f_regression, k=numK)
    selector.fit_transform(data, y)
    labels = [columns[x] for x in selector.get_support(indices=True) if x]
    return pd.DataFrame(selector.fit_transform(data,y), columns=labels)

In [119]:
def fromModel(modelo,data):
    columns = data.columns
    model = SelectFromModel(modelo, prefit=True)
    labels = [columns[x] for x in model.get_support(indices=True) if x]
    X_new = model.transform(data)
    return pd.DataFrame(model.transform(data), columns=labels)

In [120]:
#def cvScore(modelo):
#    scores = cross_val_score(modelo, X_train, y_train, cv=15, n_jobs=1, scoring = 'mean_squared_error')
#    print (scores)

#  Aplico KBest para que me de las columnas "relevantes"

In [121]:
KBest(features,durationMerge,5)

        start_station_id  subscription_type  month_start  weekday  events
0                    2.0                1.0         11.0      3.0     1.0
1                    2.0                1.0         11.0      3.0     1.0
2                    2.0                1.0         11.0      3.0     1.0
3                    2.0                1.0         11.0      3.0     1.0
4                    3.0                1.0         11.0      3.0     1.0
5                    3.0                0.0         11.0      3.0     1.0
6                    3.0                0.0         11.0      3.0     1.0
7                    4.0                1.0         11.0      3.0     1.0
8                    4.0                1.0         11.0      3.0     1.0
9                    4.0                1.0         11.0      3.0     1.0
10                   4.0                1.0         11.0      3.0     1.0
11                   5.0                1.0         11.0      3.0     1.0
12                   5.0                0.0         11.0      3.0     1.0
13                   5.0                1.0         11.0      3.0     1.0
14                   6.0                1.0         11.0      3.0     1.0
15                   6.0                1.0         11.0      3.0     1.0
16                   6.0                1.0         11.0      3.0     1.0
17                   6.0                1.0         11.0      3.0     1.0
18                   6.0                1.0         11.0      3.0     1.0
19                   7.0                1.0         11.0      3.0     1.0
20                   8.0                1.0         11.0      3.0     1.0
21                   9.0                0.0         11.0      3.0     1.0
22                   9.0                1.0         11.0      3.0     1.0
23                   9.0                1.0         11.0      3.0     1.0
24                   9.0                1.0         11.0      3.0     1.0
25                   9.0                1.0         11.0      3.0     1.0
26                  10.0                1.0         11.0      3.0     1.0
27                  10.0                1.0         11.0      3.0     1.0
28                  10.0                1.0         11.0      3.0     1.0
29                  10.0                1.0         11.0      3.0     1.0
...                  ...                ...          ...      ...     ...
540605              71.0                1.0          1.0      4.0     1.0
540606              72.0                1.0          1.0      4.0     1.0
540607              73.0                0.0          1.0      4.0     1.0
540608              73.0                0.0          1.0      4.0     1.0
540609              73.0                1.0          1.0      4.0     1.0
540610              73.0                0.0          1.0      4.0     1.0
540611              73.0                0.0          1.0      4.0     1.0
540612              73.0                1.0          1.0      4.0     1.0
540613              74.0                0.0          1.0      4.0     1.0
540614              74.0                0.0          1.0      4.0     1.0
540615              74.0                0.0          1.0      4.0     1.0
540616              74.0                1.0          1.0      4.0     1.0
540617              75.0                0.0          1.0      4.0     1.0
540618              75.0                0.0          1.0      4.0     1.0
540619              76.0                0.0          1.0      4.0     1.0
540620              76.0                0.0          1.0      4.0     1.0
540621              76.0                1.0          1.0      4.0     1.0
540622              76.0                0.0          1.0      4.0     1.0
540623              76.0                0.0          1.0      4.0     1.0
540624              76.0                0.0          1.0      4.0     1.0
540625              76.0                0.0          1.0      4.0     1.0
540626              76.0                0.0          1.0      4.0     1.0
540627              77.0                0.0          1.0      4.0     1.0
540628              77.0                1.0          1.0      4.0     1.0
540629              77.0                0.0          1.0      4.0     1.0
540630              77.0                1.0          1.0      4.0     1.0
540631              77.0                1.0          1.0      4.0     1.0
540632              77.0                1.0          1.0      4.0     1.0
540633              77.0                0.0          1.0      4.0     1.0
540634              82.0                0.0          1.0      4.0     1.0

[540635 rows x 5 columns]

In [122]:
cols = ['start_station_id','subscription_type', 'month_start', 'weekday','events']
features = trainWeather[cols]
target = testWeather[cols]

In [123]:
x_train, x_test, y_train, y_test = train_test_split(features, durationMerge, test_size = 0.6, random_state = 0)

reg = linear_model.LinearRegression()

reg.fit(x_train, y_train)
pred = reg.predict(target)
score_test = mean_squared_error(pred,duration_real)
score_test

44818756.805438206

# Testeo sobre el mismo train

In [124]:
predTrain = reg.predict(x_test)

In [125]:
mean_squared_error(predTrain,y_test)

57517180.18737264

# Con menos columnas

In [126]:
duration_real

0            71
1           126
2           130
3           134
4           141
5           163
6           169
7           197
8           204
9           207
10          211
11          218
12          236
13          236
14          254
15          267
16          284
17          288
18          292
19          307
20          319
21          337
22          340
23          346
24          346
25          348
26          351
27          353
28          355
29          360
          ...
119968      961
119969      532
119970    71035
119971      844
119972     1926
119973      672
119974     7542
119975      913
119976      727
119977     1207
119978     1931
119979      869
119980     9001
119981     1021
119982      406
119983     1251
119984      873
119985    13635
119986     1750
119987     2255
119988      558
119989      956
119990      925
119991      147
119992      661
119993     7503
119994      630
119995      161
119996      398
119997     6712
Name: duration, dtype: int64

In [127]:
test

,id,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start,month_start
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,426,0,77009.0,2014-10-18,11:25,6,11,10
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,454,1,94132.0,2014-11-05,13:00,3,13,11
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,370,1,94107.0,2015-06-18,17:34,4,17,6
3,897674,8/20/2015 7:06,Civic Center BART (7th at Market),72,451,1,94582.0,2015-08-20,7:06,4,7,8
4,322830,6/13/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,603,1,95014.0,2014-06-13,8:46,5,8,6
5,487841,10/7/2014 21:41,2nd at Townsend,61,478,1,94115.0,2014-10-07,21:41,2,21,10
6,677808,3/11/2015 18:09,Market at 10th,67,505,1,94025.0,2015-03-11,18:09,3,18,3
7,704449,3/30/2015 17:29,Embarcadero at Vallejo,48,356,1,94536.0,2015-03-30,17:29,1,17,3
8,833587,7/5/2015 11:54,Market at 10th,67,401,1,94102.0,2015-07-05,11:54,7,11,7
9,420411,8/22/2014 13:30,Embarcadero at Vallejo,48,363,1,94114.0,2014-08-22,13:30,5,13,8
10,354777,7/8/2014 14:05,Embarcadero at Bryant,54,591,1,94110.0,2014-07-08,14:05,2,14,7
11,17809,9/11/2013 13:17,Civic Center BART (7th at Market),72,588,1,94707.0,2013-09-11,13:17,3,13,9
12,854667,7/20/2015 19:45,2nd at South Park,64,405,1,94705.0,2015-07-20,19:45,1,19,7
13,673325,3/9/2015 8:47,2nd at Folsom,62,417,1,94107.0,2015-03-09,8:47,1,8,3
14,729900,4/17/2015 9:28,San Francisco Caltrain 2 (330 Townsend),69,472,0,95070.0,2015-04-17,9:28,5,9,4
15,4485,8/29/2013 13:16,Commercial at Montgomery,45,410,0,94117.0,2013-08-29,13:16,4,13,8
16,349394,7/3/2014 8:03,Harry Bridges Plaza (Ferry Building),50,526,1,94904.0,2014-07-03,8:03,4,8,7
17,784460,5/28/2015 13:27,Commercial at Montgomery,45,652,1,94709.0,2015-05-28,13:27,4,13,5
18,908431,8/27/2015 16:24,Embarcadero at Folsom,51,562,1,94103.0,2015-08-27,16:24,4,16,8
19,805578,6/12/2015 19:57,San Francisco Caltrain 2 (330 Townsend),69,332,1,94107.0,2015-06-12,19:57,5,19,6
20,609571,1/19/2015 12:51,Market at Sansome,77,593,1,94588.0,2015-01-19,12:51,1,12,1
21,269385,5/2/2014 10:40,Washington at Kearny,46,594,0,98118.0,2014-05-02,10:40,5,10,5
22,227320,3/26/2014 9:27,San Francisco Caltrain 2 (330 Townsend),69,612,1,94040.0,2014-03-26,9:27,3,9,3
23,658277,2/25/2015 17:38,Powell Street BART,39,501,1,94107.0,2015-02-25,17:38,3,17,2
24,205479,3/7/2014 13:58,Steuart at Market,74,551,1,94704.0,2014-03-07,13:58,5,13,3
25,429936,8/28/2014 20:09,2nd at Folsom,62,627,1,94501.0,2014-08-28,20:09,4,20,8
26,176953,2/5/2014 14:26,Broadway St at Battery St,82,338,0,94102.0,2014-02-05,14:26,3,14,2
27,64226,10/18/2013 18:35,Yerba Buena Center of the Arts (3rd @ Howard),68,494,1,94107.0,2013-10-18,18:35,5,18,10
28,489619,10/8/2014 18:36,Market at Sansome,77,564,1,94107.0,2014-10-08,18:36,3,18,10
29,831189,7/2/2015 8:14,Embarcadero at Sansome,60,374,1,94111.0,2015-07-02,8:14,4,8,7
...,...,...,...,...,...,...,...,...,...,...,...,...
119968,60831,10/16/2013 17:13,Market at 10th,67,369,1,94108.0,2013-10-16,17:13,3,17,10
119969,875546,8/4/2015 17:19,Townsend at 7th,65,583,1,94707.0,2015-08-04,17:19,2,17,8
119970,126578,12/16/2013 7:48,Market at Sansome,77,627,1,94611.0,2013-12-16,7:48,1,7,12
119971,244611,4/11/2014 8:22,Market at Sansome,77,353,1,94606.0,2014-04-11,8:22,5,8,4
119972,110019,11/27/2013 17:14,Steuart at Market,74,437,1,94103.0,2013-11-27,17:14,3,17,11
119973,114911,12/4/2013 10:54,Commercial at Montgomery,45,260,1,94133.0,2013-12-04,10:54,3,10,12
119974,649284,2/18/2015 19:45,Market at 4th,76,531,1,94103.0,2015-02-18,19:45,3,19,2
119975,719648,4/10/2015 7:46,Ryland Park,84,90,1,95110.0,2015-04-10,7:46,5,7,4
119976,536952,11/10/2014 6:47,Ryland Park,84,161,1,5112.0,2014-11-10,6:47,1,6,11
119977,579153,12/17/2014 16:42,2nd at Folsom,62,390,1,94582.0,2014-12-17,16:42,3,16,12
119978,619244,1/26/2015 18:32,Clay at Battery,41,354,1,94403.0,2015-01-26,18:32,1,18,1
119979,277802,5/9/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,417,1,94087.0,2014-05-09,8:46,5,8,5
119980,572524,12/10/2014 7:06,San Francisco Caltrain (Townsend at 4th),70,651,1,94107.0,2014-12-10,7:06,3,7,12
119981,273279,5/6/2014 8:39,San Antonio Caltrain Station,29,703,1,94070.0,2014-05-06,8:39,2,8,5
119982,438379,9/4/2014 15:04,Clay at Battery,41,376,1,94107.0,2014-09-04,15:04,4,15,9
119983,322903,6/13/2014 9:06,South Van Ness at Market,66,33,1,94103.0,2014-06-13,9:06,5,9,6
119984,226880,3/25/2014 17:59,Steuart at Market,74,259,1,94118.0,2014-03-25,17:59,2,17,3
119985,34690,9/25/2013 14:27,Embarcadero at Bryant,54,620,1,95129.0,2013-09-25,14:27,3,14,9
119986,581506,12/19/2014 17:41,Broadway St at Battery St,82,572,1,94610.0,2014-12-19,17:41,5,17,12
119987,365644,7/16/2014 7:46,Market at 10th,67,601,1,94107.0,2014-07-16,7:46,3,7,7
119988,18373,9/11/2013 20:27,Townsend at 7th,65,549,1,94158.0,2013-09-11,20:27,3,20,9
119989,646921,2/17/2015 12:59,Mechanics Plaza (Market at Battery),75,335,1,94105.0,2015-02-17,12:59,2,12,2
119990,835970,7/7/2015 9:54,San Francisco Caltrain 2 (330 Townsend),69,391,1,94002.0,2015-07-07,9:54,2,9,7
119991,100540,11/18/2013 18:41,Harry Bridges Plaza (Ferry Building),50,492,0,94133.0,2013-11-18,18:41,1,18,11
119992,503083,10/17/2014 8:06,San Francisco Caltrain 2 (330 Townsend),69,265,1,92084.0,2014-10-17,8:06,5,8,10
119993,274799,5/7/2014 8:11,South Van Ness at Market,66,493,1,94117.0,2014-05-07,8:11,3,8,5
119994,464786,9/22/2014 19:38,San Francisco Caltrain 2 (330 Townsend),69,659,1,94107.0,2014-09-22,19:38,1,19,9
119995,172825,1/31/2014 19:03,Harry Bridges Plaza (Ferry Building),50,559,1,94102.0,2014-01-31,19:03,5,19,1
119996,641204,2/12/2015 9:25,San Jose Diridon Caltrain Station,2,42,1,94025.0,2015-02-12,9:25,4,9,2
119997,893371,8/17/2015 17:06,Mechanics Plaza (Market at Battery),75,288,1,94070.0,2015-08-17,17:06,1,17,8

In [128]:
data = {'id': ids, 'duration': pred}
submit8 = pd.DataFrame(data)
submit8.head(3)

     duration      id
0  960.836310  795571
1  762.241671  895359
2  833.033775   58423

In [129]:
submit8.to_csv('tp_bike/submit8.csv',index=False)

In [130]:
rg = linear_model.LinearRegression().fit(x_train, y_train)
fromModel(rg,features)

        subscription_type
0                       1
1                       1
2                       1
3                       1
4                       1
5                       0
6                       0
7                       1
8                       1
9                       1
10                      1
11                      1
12                      0
13                      1
14                      1
15                      1
16                      1
17                      1
18                      1
19                      1
20                      1
21                      0
22                      1
23                      1
24                      1
25                      1
26                      1
27                      1
28                      1
29                      1
...                   ...
540605                  1
540606                  1
540607                  0
540608                  0
540609                  1
540610                  0
540611                  0
540612                  1
540613                  0
540614                  0
540615                  0
540616                  1
540617                  0
540618                  0
540619                  0
540620                  0
540621                  1
540622                  0
540623                  0
540624                  0
540625                  0
540626                  0
540627                  0
540628                  1
540629                  0
540630                  1
540631                  1
540632                  1
540633                  0
540634                  0

[540635 rows x 1 columns]

# SVR

In [131]:
#clf = SVR(C=1.0, epsilon=0.2)
#x_train, x_test, y_train, y_test = train_test_split(features, duration, test_size = 0.6, random_state = 0)
#clf.fit(x_train, y_train)

In [132]:
#pred2 = clf.predict(test2)