In [1]:
import pandas as pd

train  = pd.read_csv('/home/alex92/Documentos/datos2017/tp2/trip_train.csv')

In [2]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,8/27/2015 8:43,Embarcadero at Sansome,60,187,Subscriber,94602
1,384043,636,7/28/2014 22:06,Market at 10th,67,7/28/2014 22:17,Washington at Kearny,46,417,Subscriber,94133
2,316176,334,6/9/2014 8:42,Market at Sansome,77,6/9/2014 8:47,2nd at Folsom,62,281,Subscriber,94107

In [3]:
train.dtypes

id                     int64
duration               int64
start_date            object
start_station_name    object
start_station_id       int64
end_date              object
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

In [4]:
test = pd.read_csv('/home/alex92/Documentos/datos2017/tp2/trip_test.csv')

In [5]:
test.head(3)

,id,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,10/18/2014 12:12,Powell at Post (Union Square),71,426,Customer,77009
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,11/5/2014 13:09,Broadway St at Battery St,82,454,Subscriber,94132
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,6/18/2015 17:37,2nd at Townsend,61,370,Subscriber,94107

In [6]:
#aca poner el codigo para precesar los sets
#una vez procesado, generar los nuevos archivos
#cargar esos nuevos archivos con
#

In [7]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,8/27/2015 8:43,Embarcadero at Sansome,60,187,Subscriber,94602
1,384043,636,7/28/2014 22:06,Market at 10th,67,7/28/2014 22:17,Washington at Kearny,46,417,Subscriber,94133
2,316176,334,6/9/2014 8:42,Market at Sansome,77,6/9/2014 8:47,2nd at Folsom,62,281,Subscriber,94107

In [8]:
del train['end_date']
del train['end_station_name']
del train['end_station_id']

In [9]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,Subscriber,94602
1,384043,636,7/28/2014 22:06,Market at 10th,67,417,Subscriber,94133
2,316176,334,6/9/2014 8:42,Market at Sansome,77,281,Subscriber,94107

In [10]:
del test['end_date']
del test['end_station_name']
del test['end_station_id']

In [11]:
len(test)
print len(train)

549961

In [12]:
fechaYhora = train['start_date'].str.split(' ')
fecha = fechaYhora.map(lambda x: x[0])
hora = fechaYhora.map(lambda x: x[1])
train = train.assign(date_start = fecha, time_start = hora)

In [13]:
train.head(3)

,id,duration,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,Subscriber,94602,8/27/2015,8:36
1,384043,636,7/28/2014 22:06,Market at 10th,67,417,Subscriber,94133,7/28/2014,22:06
2,316176,334,6/9/2014 8:42,Market at Sansome,77,281,Subscriber,94107,6/9/2014,8:42

In [15]:
import calendar
train['date_start'] = pd.to_datetime(train['date_start'])

In [16]:
train['weekday'] = train['date_start'].map(lambda x: x.weekday_name)
train['hour_start'] = pd.to_datetime(train['time_start'], format = '%H:%M', errors = 'coerce').dt.hour

In [17]:
#idem para el test
fechaYhora = test['start_date'].str.split(' ')
fecha = fechaYhora.map(lambda x: x[0])
hora = fechaYhora.map(lambda x: x[1])
test = test.assign(date_start = fecha, time_start = hora)
import calendar
test['date_start'] = pd.to_datetime(test['date_start'])
test['weekday'] = test['date_start'].map(lambda x: x.weekday_name)
test['hour_start'] = pd.to_datetime(test['time_start'], format = '%H:%M', errors = 'coerce').dt.hour

In [19]:
test.head(3)

,id,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,426,Customer,77009,2014-10-18,11:25,Saturday,11
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,454,Subscriber,94132,2014-11-05,13:00,Wednesday,13
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,370,Subscriber,94107,2015-06-18,17:34,Thursday,17

In [20]:
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)

In [22]:
duration_train = train['duration']
del train['duration']

In [27]:
train.head(3)

,id,start_date,start_station_name,start_station_id,bike_id,subscription_type,zip_code,date_start,time_start,weekday,hour_start
0,907649,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,187,Subscriber,94602,2015-08-27,8:36,Thursday,8
1,384043,7/28/2014 22:06,Market at 10th,67,417,Subscriber,94133,2014-07-28,22:06,Monday,22
2,316176,6/9/2014 8:42,Market at Sansome,77,281,Subscriber,94107,2014-06-09,8:42,Monday,8

In [ ]:
del train['star_date']
train['subscription_type'] = train.subscription_type.map({'Subscriber':1, 'Customer':0})
from sklearn.preprocessing import OneHotEncoder

In [28]:
train.dtypes

id                             int64
start_date                    object
start_station_name            object
start_station_id               int64
bike_id                        int64
subscription_type             object
zip_code                      object
date_start            datetime64[ns]
time_start                    object
weekday                       object
hour_start                     int64
dtype: object

In [34]:
train['subscription_type']

0         Subscriber
1         Subscriber
2         Subscriber
3         Subscriber
4         Subscriber
5         Subscriber
6         Subscriber
7         Subscriber
8         Subscriber
9           Customer
10        Subscriber
11        Subscriber
12          Customer
13        Subscriber
14        Subscriber
15          Customer
16        Subscriber
17          Customer
18        Subscriber
19        Subscriber
20          Customer
21        Subscriber
22        Subscriber
23        Subscriber
24        Subscriber
25        Subscriber
26          Customer
27        Subscriber
28        Subscriber
29        Subscriber
             ...
549931      Customer
549932    Subscriber
549933    Subscriber
549934    Subscriber
549935    Subscriber
549936    Subscriber
549937      Customer
549938    Subscriber
549939    Subscriber
549940    Subscriber
549941    Subscriber
549942    Subscriber
549943    Subscriber
549944    Subscriber
549945      Customer
549946    Subscriber
549947    Subscriber
549948      Customer
549949    Subscriber
549950    Subscriber
549951    Subscriber
549952    Subscriber
549953      Customer
549954    Subscriber
549955    Subscriber
549956    Subscriber
549957    Subscriber
549958      Customer
549959    Subscriber
549960    Subscriber
Name: subscription_type, dtype: object

In [26]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(train, duration_train, test_size = 0.4, random_state = 0)

knn = KNeighborsClassifier(n_neighbors = 10)

knn.fit(x_train, y_train)
pred = knn.predict(x_test)

score = accuracy_score(pred, y_test)

print score

ValueError: could not convert string to float: Thursday

In [ ]:
#ahora debo predecir con el test